/.venv
/AI Project File\Emotion-Detection-FER2013-master
/recordings
/recordings1
/AI Project File\video to audio speach
/AI Project File\zothers
/emotion_data
/app.log
/lables.csv
/AI Project File
/.vscode